<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>ghpn report for {{username}}</title>
		<style>
			body {
				background: #EEEEEE;
				color: grey;
			}
			.block {
				display: inline-block;
				padding: 20px;
				vertical-align: top;
			}
			code {
				font-family: "Lucida Console", Monaco, monospace;
				font-size: 0.8em;
			}

			@media only screen and (max-width: 767px) {
				code {
					font-size: 1em;
				}
			}
		</style>
		<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	</head>
	<body id="home">
		{% for b in blocks %}
			<div class="block">
				<pre><code>
{{b}}
				</code></pre>
			</div>
		{% endfor %}
		<script>
			var colors = ["#D56B6B", "#7ED56B", "#6BD5C1", "#6BA9D5", "#6B70D5", "#BA6BD5", "#D56B7B"];
			var rand_color = colors[Math.floor(Math.random()*colors.length)];
			console.log("color: "+rand_color)
			$($(".block")[0]).css("color", rand_color);
		</script>
	</body>
</html>